*{
    font-family: "Cartograph CF";
    /* letter-spacing: -1px; */
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

body{
    background-color: #3B5249;
    color: #FFFF;
    display: flex;
    overflow: hidden;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.navbar{
    /* margin-top: 0; */
    height: 12%;
    width: 100%;
    /* letter-spacing: 1px;; */
    font-size: 5em;
    display: flex;   
    /* align-items: center; */
    position: fixed;
}

.logo{
    width: 16vmin;
    cursor: pointer;
    pointer-events: none;
    padding-top: 1vh;
}

nav{
    flex: 1;
    text-align: right;
    margin-right: 1.8vw;
}

nav ul li{
    list-style: none;
    display: inline-block;
    /* margin-left: 0.0vw; */
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 0.2em;
}

#left-half {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* justify-content: center; */
    padding-top: 33vh;
    padding-left: 2vw;
    position: fixed;
    width: 50vw;
    height: 100vh;
    top: 0vh;

    /* transition: top 0.8s; */
    transition: top cubic-bezier(0,.75,.29,1) 0.4s;
}

#right-half {
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #A4B494;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    margin-top: -50vh;
    gap: 0vw;
    
    /* transition: left 0.8s; */

    transition: left cubic-bezier(0,.75,.29,1) 0.4s;
    /* margin: 0; */
    /* margin-left: -vw; */
}

.impact-text {
    /* position: absolute; */
    /* width: fit-content; */
    left: 5%;
    top: 30%;
    font-size: 5em;
}

#left-half p {
    /* text-indent: 2vw; */
    color: #B7BFB6;
    font-size: 1.4em;
    width: 40vw;
}

.col{
}

.card{
    /* background-color:black; */
    width: 17vw;
    height: 33vh;
    /* display: inline-block; */
    border-radius: 1vh;
    padding: 1vh 0.5vw;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2vh 2.7vw;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    position: relative;
    /* left: calc(25% - 2.9vw); */
    left: calc(2.65vw);
    /* left: calc(5.4vw); */
    /* position: absolute; */
}

/* .c1{
    background-image: url(images/cat1.jpg);
}

.c2{
    background-image: url(images/cat2.jpg);
}

.c3{
    background-image: url(images/cat3.jpg);
}

.c4{
    background-image: url(images/cat4.jpg);
} */

.card:hover{
    transform: translateY(-10px);
}

.card p {
    font-size: 0.1em;
}

.down-arrow {
    color: white;
    font-size: 1.5em;
    position: absolute;
    /* align-items: center; */
    top: 25%;
    left: 25%;
    /* width: 3vw;
    height: 3vw; */
    transition: all 0.5s;
}

.next-arrow {
    /* background-color: black; */
    position: absolute;
    top: calc(73% - 3vw);
    left: calc(50% - 3vw);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    /* align-self: center; */
    align-items: center;
    /* transform: translate(-50%, -50%); */

    /* display: flex; */
    transition: all 0.3s;
}

.down-arrow:hover {
    top: 40%;
}

#right-half .next-arrow {
    top: 50%;
    left: calc(49.5% - 3vw);
}

#right-half .down-arrow:hover {
    /* left: calc(50% - 3vw); */
    top: 25%;
    left: 40%;
}